.main {
  // width: 100%;
  // display: flex;
  // justify-content: space-around;
  // background-color: antiquewhite;

  #bars{
  } 

  #cards{

  }
}

// .container {
//   display: flex;
// }

.chart-in-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
