<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Média de Temperatura</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{mediaTemperatura}}°C</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Desvio Padrão Temperatura</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{desvioPadraoTemperatura}}°C</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Média de Umidade</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{mediaUmidade}}%</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Desvio Padrão Temperatura</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{desvioPadraoUmidade}}%</p>
        </mat-card-content>
    </mat-card>
</div>