<div class="container">
    <mat-card >
        <mat-card-header>
            <mat-card-title>Média de Temperatura</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>15°C</p>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Média de Umidade</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>15% </p>
        </mat-card-content>
    </mat-card>
</div>